{%- extends 'base.html' -%}
{%- from "components/description-list/_macro.njk" import onsDescriptionList -%}

{%- block main -%}
  <h1 class="ons-u-mb-xl">{{ guid }}</h1>

  {{
    onsDescriptionList({
        "classes": "ons-u-mb-no ons-u-mb-l",
        "termCol": "2",
        "descriptionCol": "10",
        "itemsList": [
            {
                "term": "Status:",
                "descriptions": [
                    {
                        "description": "Failure"
                    }
                ]
            },
            {
                "term": "Survey ID:",
                "descriptions": [
                    {
                        "description": "023"
                    }
                ]
            },
            {
                "term": "Form type:",
                "descriptions": [
                    {
                        "description": "0001"
                    }
                ]
            },
            {
                "term": "CI version:",
                "descriptions": [
                    {
                        "description": "1"
                    }
                ]
            },
            {
                "term": "Validator version:",
                "descriptions": [
                    {
                        "description": "8.0.0"
                    }
                ]
            },
            {
                "term": "Error message:",
                "descriptions": [
                    {
                        "description": "An error occurred during processing. 'Row' only displayed if there is an error message to show."
                    }
                ]
            }
        ]
    })
  }}
{%- endblock main -%}
