{%- extends 'base.html' -%}
{% from "components/button/_macro.njk" import onsButton %}

{%- block main -%}
  <h1 class="ons-u-mb-xl">CI migration process</h1>
  <!-- TODO: Temporary placeholder - to be removed when using live data-->
  <p>{{ text }}</p>

  <form action="/session" method="post">
    {{
      onsButton({
          "id": "create-session-btn",
          "text": "Create session",
          "variants": "loader",
          "attributes": {
            "data-testid": "create-session-btn"
          }
      })
    }}
  </form>
{%- endblock main -%}
