{%- extends 'base.html' -%}
{% from "components/button/_macro.njk" import onsButton %}

{%- block main -%}
  <h1 class="ons-u-mb-xl">CI migration process</h1>
  {% set last_session_variants = "timer" if session_present else ["disabled", "timer"] %}

  {{
    onsButton({
      "id": "create-session-btn",
      "text": "Create session",
      "variants": "timer",
      "url": url_for("main.create_session"),
      "attributes": {
        "data-testid": "create-session-btn",
        "id": "create-session-btn"
      }
    })
  }}

  {{
    onsButton({
      "id": "last-session-btn",
      "text": "View last session",
      "variants": last_session_variants,
      "url": url_for("main.view_last_session"),
      "attributes": {
        "data-testid": "last-session-btn",
        "id": "last-session-btn"
      }
    })
  }}

{%- endblock main -%}
