{%- extends "base.html" -%}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{%- from "components/button/_macro.njk" import onsButton -%}
{%- from "components/table/_macro.njk" import onsTable -%}

{%- block main -%}

  {{
      onsBreadcrumbs({
          "ariaLabel": "Breadcrumbs",
          "itemsList": [
              {
                  "url": "/",
                  "text": "Back",
                  "attributes": {
                      "data-testid": "view-session-back-button"
                  }
              }
          ]
      })
  }}

  <h1 class="ons-u-mb-xl">Collection instruments</h1>
    {% set variants = "small"if session_status == "Failure" or session_status == "Not started"
      else ["disabled", "small"] %}

    {{
        onsButton({
            "type": "submit",
            "text": "Republish",
            "variants": variants,
            "classes": "ons-u-mt-m ons-u-mb-m",
            "attributes": {
                "data-testid": "republish-btn",
                "id": "republish-btn"
            }
        })
    }}

    {% set tds = [] %}
    {% for metadata in ci_metadata %}
        {% set suffix = "info" if metadata["status"] == "Started"
          else "error" if metadata["status"] == "Failure"
          else "success" if metadata["status"] == "Success"
          else "dead" %}
        {% set item = {
            "tds": [
                {"value": metadata["survey_id"]},
                {"value": metadata["form_type"]},
                {"value": metadata["cir_id"]},
                {"value": metadata["cir_version"]},
                {"value": metadata["validator_version"]},
                {
                  "value": '<a href=result/' + metadata["cir_id"] + ' data-testid=ci-status-link-' + metadata["cir_id"] + '><span class="ons-status ons-status--' + suffix + '">' + metadata["status"] + '</span></a>',
                  "dataSort": "0",
                }
            ], "id": metadata["cir_id"]
        } %}
        {% do tds.append(item) %}
    {% endfor %}
    {{
        onsTable({
            "variants": "sortable",
            "sortBy": "Sort by",
            "ariaAsc": "ascending",
            "ariaDesc": "descending",
            "ths": [
                {
                    "value": "Survey ID"
                },
                {
                    "value": "Form type"
                },
                {
                    "value": "CIR ID"
                },
                {
                    "value": "CIR version"
                },
                {
                    "value": "Validator version"
                },
                {
                    "value": "Status"
                }
            ],
            "trs": tds,
        })
    }}

  <script src="{{ url_for('static', filename='view-session.js') }}" defer></script>


{%- endblock main -%}
