{%- extends "base.html" -%}

{%- from "components/button/_macro.njk" import onsButton -%}
{%- from "components/table/_macro.njk" import onsTable -%}

{%- block main -%}

  <h1 class="ons-u-mb-xl">Collection instruments</h1>

    {{
        onsButton({
            "type": "submit",
            "text": "Republish",
            "variants": "small",
            "classes": "ons-u-mt-m ons-u-mb-m",
            "attributes": {
                "data-testid": "republish-btn"
            }
        })
    }}

    {% set tds = [] %}
    {% for metadata in ci_metadata %}
        {% set item = {
            "tds": [
                {"value": metadata["survey_id"]},
                {"value": metadata["form_type"]},
                {"value": metadata["cir_id"]},
                {"value": metadata["cir_version"]},
                {"value": metadata["validator_version"]},
                {
                  "value": "<span class=\'ons-status ons-status--dead\'>" + metadata["status"] + "</span>",
                  "dataSort": "0"
                }
            ]
        } %}
        {% do tds.append(item) %}
    {% endfor %}
    {{
        onsTable({
            "variants": "sortable",
            "sortBy": "Sort by",
            "ariaAsc": "ascending",
            "ariaDesc": "descending",
            "ths": [
                {
                    "value": "Survey ID"
                },
                {
                    "value": "Form type"
                },
                {
                    "value": "CIR ID"
                },
                {
                    "value": "CIR version"
                },
                {
                    "value": "Validator version"
                },
                {
                    "value": "Status"
                }
            ],
            "trs": tds
        })
    }}
{%- endblock main -%}
